@page "{handler?}"
@model StudentLoanSystem.Data.AccountData
@using System.Data
@{
    ViewData["Title"] = "LoanOfficer";
    @functions{

        int i = 0;
        public async Task OnPostSelectCurrentLoanAsync()
        {
            String selectedValue = Request.Form["selectedReviewLoan"];
            try
            {
                i = Int32.Parse(selectedValue) - 1;
            }
            catch (Exception e)
            {

            }
        }

        public async Task OnPostAcceptLoanAsync()
        {
            StudentLoanSystem.Data.Users.LoanOfficer loanOfficer = StudentLoanSystem.Data.AccountData.CurrentLoanOfficer;
            StudentLoanSystem.Data.Loan tempLoan = new StudentLoanSystem.Data.Loan();
            try
            {
                String selectedValue = Request.Form["selectedReviewLoanName"];
                String loanName = selectedValue.Substring(0, 5);
                loanName = loanName.Trim();
                foreach (StudentLoanSystem.Data.Loan loan in loanOfficer.LoansNeedingReview)
                {
                    if(loan.loanName.Trim().Equals(loanName))
                    {
                        tempLoan = loan;
                        break;

                    }
                }
                StudentLoanSystem.Data.AccountData.AcceptLoan(tempLoan, loanOfficer);
                RedirectToPage("UserPages/LoanOfficerView", StudentLoanSystem.Data.AccountData.CreateUser(loanOfficer.Username, loanOfficer.Id));
            }
            catch(Exception e)
            {

            }

        }
        public async Task OnPostDenyLoanAsync()
        {
            StudentLoanSystem.Data.Users.LoanOfficer loanOfficer = StudentLoanSystem.Data.AccountData.CurrentLoanOfficer;
            StudentLoanSystem.Data.Loan tempLoan = new StudentLoanSystem.Data.Loan();
            try
            {
                String selectedValue = Request.Form["selectedReviewLoanName2"];
                String loanName = selectedValue.Substring(0, 5);
                loanName = loanName.Trim();
                foreach (StudentLoanSystem.Data.Loan loan in loanOfficer.LoansNeedingReview)
                {
                    if (loan.loanName.Trim().Equals(loanName))
                    {
                        tempLoan = loan;
                        break;
                    }
                }
                StudentLoanSystem.Data.AccountData.DenyLoan(tempLoan, loanOfficer);
                RedirectToPage("UserPages/LoanOfficerView", StudentLoanSystem.Data.AccountData.CreateUser(loanOfficer.Username, loanOfficer.Id));
            }
            catch (Exception e)
            {
                System.Diagnostics.Debug.WriteLine(e);
            }
        }
        public async Task OnPostResetLoansAsync()
        {
            StudentLoanSystem.Data.AccountData.ResetDB();
        }


    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>
                    Hi @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.FirstName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.FirstName, new { @class = "text-danger" }) @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LastName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LastName, new { @class = "text-danger" }) welcome back!
                </h2>
                <div class="row">
                    <div class="col-md-4">
                        <!--Profile Information-->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Profile Information for</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.FirstName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.FirstName) @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LastName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LastName)</h6>
                                <p class="card-text">
                                    Username: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Username, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Username, new { @class = "text-danger" }) <br />
                                    UserType: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Id.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Id.ToString(), new { @class = "text-danger" }) <br />
                                    Phone Number: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.PhoneNumber, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.PhoneNumber, new { @class = "text-danger" }) <br />
                                    Loan Officer ID: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoanOfficerId.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoanOfficerId.ToString(), new { @class = "text-danger" }) <br />
                                    Loan Officer Email: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Email, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.Email, new { @class = "text-danger" }) <br />
                                </p>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Loans</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <!--Loans for Review-->
                                        <form asp-page-handler="SelectCurrentLoan" method="post" role="form">
                                            <div class="input-group">
                                                @Html.DropDownList(StudentLoanSystem.Data.AccountData.ReviewLoanItems.ToString(), StudentLoanSystem.Data.AccountData.ReviewLoanItems, "Loans for Review", new { @class = "form-control", @onChange = "ReviewLoanSelection(this)" })<br />
                                                <span class="input-group-btn">
                                                    <Button class="input-group-addon btn btn-default">See Loan Details</Button>
                                                </span>
                                                <input type="hidden" name="selectedReviewLoan" id="selectedReviewLoan" runat="server" />
                                            </div>
                                        </form>
                                        <br />
                                        <div class="card">
                                            <div class="card-body">
                                                @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].loanName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].loanName, new { @class = "text-danger" }) <br />
                                                Student Applying: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].firstName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].firstName, new { @class = "text-danger" }) @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].lastName, StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].lastName, new { @class = "text-danger" })<br />
                                                Credit Score: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].creditScore.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].creditScore.ToString(), new { @class = "text-danger" }) <br />
                                                Student ID: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].studentId.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].studentId.ToString(), new { @class = "text-danger" }) <br />
                                                Principle: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].principle.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].principle.ToString(), new { @class = "text-danger" }) <br />
                                                Start Date: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].start.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].start.ToString(), new { @class = "text-danger" }) <br />
                                                Date Posted: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].postTime.ToString(), StudentLoanSystem.Data.AccountData.CurrentLoanOfficer.LoansNeedingReview[i].postTime.ToString(), new { @class = "text-danger" }) <br />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form asp-page-handler="AcceptLoan" method="post" role="form">
                                                    <input class="btn btn-success" type="submit" value="Accept Loan" onchange="ReviewLoanSelection(this)">
                                                    <input type="hidden" name="selectedReviewLoanName" id="selectedReviewLoanName" runat="server" />
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <form asp-page-handler="DenyLoan" method="post" role="form">
                                                    <input class="btn btn-danger" type="submit" value="Deny Loan" onchange="ReviewLoanSelection(this)">
                                                    <input type="hidden" name="selectedReviewLoanName2" id="selectedReviewLoanName2" runat="server" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function ReviewLoanSelection(ddlObject) {
                            var selectedIndex = ddlObject.selectedIndex
                            var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;
                            var hiddenField = document.getElementById('selectedReviewLoan');
                            var hiddenField2 = document.getElementById('selectedReviewLoanName');
                            var hiddenField3 = document.getElementById('selectedReviewLoanName2')
                            hiddenField.value = selectedIndex;
                            hiddenField2.value = selectedText;
                            hiddenField3.value = selectedText;
                        }
                    </script>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index"><button type="button" class="btn btn-danger">Logout?</button></a>
                </div>
                <div class="row">
                    <form asp-page-handler="ResetLoans" method="post" role="form">
                        <input class="btn btn-success" type="submit" value="Master Reset DB">
                    </form>
                </div>
            </div>
        </div>
    </div>

 </body>
</html>