@page
@model StudentLoanSystem.Data.AccountData
@{
    ViewData["Title"] = "";
    @functions{
        public void OnGet(StudentLoanSystem.Data.Users.Student student) 
        {
            //System.Diagnostics.Debug.WriteLine(student.Username);
        }

    }

    }
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>


        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Left</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Left Inside Left</h3>
                            Username: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.Username, StudentLoanSystem.Data.AccountData.CurrentStudent.Username, new { @class = "text-danger" }) <br/>
                            UserType: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.Id.ToString(), StudentLoanSystem.Data.AccountData.CurrentStudent.Id.ToString(), new { @class = "text-danger" }) <br/>
                            First Name: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.FirstName, StudentLoanSystem.Data.AccountData.CurrentStudent.FirstName, new { @class = "text-danger" }) <br/>
                            Last Name: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.LastName, StudentLoanSystem.Data.AccountData.CurrentStudent.LastName, new { @class = "text-danger" }) <br/>
                            Credit Score: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.creditScore.ToString(), StudentLoanSystem.Data.AccountData.CurrentStudent.creditScore.ToString(), new { @class = "text-danger" }) <br/>
                            Student ID: @Html.Label(StudentLoanSystem.Data.AccountData.CurrentStudent.StudentID.ToString(), StudentLoanSystem.Data.AccountData.CurrentStudent.StudentID.ToString(), new { @class = "text-danger" }) <br/>
                        </div>
                        <div class="col-md-6">
                            <h3>Left Inside Left</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Right</h2>
                </div>
            </div>
        </div>



    </body>
</html>
